<h1>Listing Posts</h1>

<div id="posts">
  <% @posts.each do|post| %>
    <div id="post">
      <h3><%= post.title %></h3>
      <%= post.body.html_safe %>
      <small>
      </small>
    </div>
  <% end %>
</div>
